---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class = "post-content">
	 <p>Hello! My name is Kunal and I am a rising sophore at Wayzata High School. I have a passion for robotics and biomedical engineering, and the applications where they overlap, such as soft robotics. I am always ready to learn more about these fields as they truly are just amazing to me. Outside of education department, I enjoy riding my bike when the weather permits, playing the piano, listening to music, and hanging out with friends.</p>
  </div>

</article>
