---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class = "post-content">
	  <p>	Hello! My name is Kunal Aki, and I am a rising sophomore at Wayzata High School. I have a passion for robotics and biomedical engineering, and the applications where they overlap, such as soft robotics. I’ve recently been super fascinated by both these fields and I am ready to learn more about them as they are absolutely mind blowing to me. </p>
	
	  <p>	In school, I am part of my school's HOSA division, and have participated in biomedical events such as Medical Innovation. During my freshman year, I took part in the SkillsUSA club to gain some more robotics experience, so that in 10th grade I can apply to my school's actual robotics team to further my experience and help me work towards becoming a robotics engineer.</p>
	
	  <p>	Outside of school, I take coding classes from a program called CodeWizards, where I have been learning coding for the past 5 years. I’ve learned Scratch, JavaScript, Python, Capstone, HTML/CSS, a bit of Fortnite game development, and I am currently working on Web App Development. I am also part of a non-profit organization called CODE-ify, where I teach Python and to new coders. Our goal is to make coding accessible to everyone and hopefully inspire others to pursue coding and have just as much of a passion as we do for it.</p>
	
	  <p>	Outside of the education department, I enjoy riding my bike when the weather permits and listening to music. I also play the piano, which I’ve been doing for the last 10 years, and always enjoy learning new songs, whether they are pop songs or classical pieces. Currently, I’m learning Nuvole Bianche by Ludovico Einaudi, who has recently become one of my favorite composers through his pieces such as Birdsong and Experience.</p>
  </div>

</article>
